
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: beige;
    color: #F2F2F2;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}


header .logo img {
    width: 140px;
    border-radius: 60%;
}


header {
    background-color: beige;
    color: #fff;
    padding: 20px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}


.vagas {
    background-color: #fff;
    padding: 40px 0;
}

.vagas .container {
    width: 80%;
    margin: 0 auto;
}

.vagas h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.vaga {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.vaga h3 {
    font-size: 24px;
    color: #333;
}

.vaga p {
    margin: 10px 0;
}

.vaga .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.vaga .button:hover {
    background-color: #4cae4c;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
